{{ define "main" }}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{ .Title }}</h1>
        </div>
        {{ if isset .Params "image" }}
            <div class="col-12">
                <!-- header-image -->
            </div>
        {{ end }}
    </div>
    <div class="row d-flex justify-content-center">
        {{ if eq .Type "posts" }}
            <div class="col-8">
                {{ .Content }}
            </div>
        {{ else }}
            <div class="col-12">
                {{ .Content }}
            </div>
        {{ end }}
    </div>
{{ end }}