<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ $filteredMenus := .Site.Menus.main }}
            {{ if isset .Site.Params "debugonlyroutes" }}
                {{ if not .Site.IsServer }}
                    {{ $filteredMenus = (where .Site.Menus.main "Name" "not in" .Site.Params.debugOnlyRoutes) }}
                {{ end }}
            {{ end }}

            {{ $mapped := slice }}
            {{ $page := . }}

            {{ range $filteredMenus }}
                {{ $mapped = $mapped | append (dict "menu" . "isCurrent" ($page.IsMenuCurrent "main" .)) }}
            {{ end }}

            {{ partial "menuitems.html" $mapped}}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sections
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{ $baseURL := .Site.BaseURL }}
                    {{ range $key, $values := .Site.Taxonomies }}
                        {{ .Site.BaseURL }}
                        <a class="dropdown-item" href="{{ $baseURL }}/{{ $key }}">{{ $key | humanize }}</a>
                    {{ end }}
                </div>
            </li>
        </ul>
    </div>
</nav>