{{ define "main" }}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{ .Title }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        {{ range .Site.RegularPages }}
            <div class="col-sm-6 col-md-4 col-lg-3" style="margin: 16px;">
                <a href="{{ .Permalink }}" style="text-decoration: inherit; color: inherit; cursor: pointer">
                    <div class="card" style="width: 18rem;">
                        {{ if isset .Params "image"}}
                        <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Name }}">
                        {{ end }}
                        <div class="card-body">
                            <h5 class="card-title">{{ .Name }}</h5>
                            {{ if isset .Params "author" }}
                                <h6 class="card-subtitle text-muted">{{ .Params.author }}</h6>
                            {{ end }}
                            {{ if isset .Params "description"}}
                                <p class="card-text">
                                    {{ .Params.description }}
                                </p>
                            {{ end }}
                        </div>
                    </div>
                </a>
            </div>
        {{ end }}
    </div>
{{ end }}